<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gtfm.server.db.ipMapper">
  <select id="notUsingIp" resultType="team.gtfm.server.bean.Port">
    select (not_using_ip()).*
  </select>
  
  <select id="selectPort" resultType="team.gtfm.server.bean.Port">
  	select * from port where seq = ?
  </select>
  
  <select id="selectPortAll" resultType="team.gtfm.server.bean.Port">
  	select * from port;
  </select>
  
  <insert id="insertPort" parameterType="team.gtfm.server.bean.Port">
  	insert into port (switch_seq, ip, subnet_mask, default_gateway, dns_server, sub_dns_server, pc_seq, memo)
  		values (#{switchSeq}, #{ip}, #{subnetMask}, #{defaultGateway}, #{dnsServer}, #{subDnsServer}, #{pcSeq}, #{memo})
  </insert>
 
  <delete id="deletePort">
  	delete from port where seq = #{seq}
  </delete>
  
  <update id="updatePort" parameterType="team.gtfm.server.bean.Port">
  	update port set switch_seq = #{switchSeq}, ip = #{ip}, subnet_mask = #{subnetMask}, default_gateway = #{defaultGateway}, dns_server = #{dnsServer}, sub_dns_server = #{subDnsServer}, pc_seq = #{pcSeq}, memo = #{memo}
  		where seq = #{seq}
  </update>
</mapper>