<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gtfm.server.db.roomMapper">
	<select id="selectRoomAll" resultType="team.gtfm.server.bean.Room">
		select * from room;
	</select>
	
	<select id="selectRoom" resultType="team.gtfm.server.bean.Room">
		select * from room where seq = #{seq}
	</select>
	
	<insert id="insertRoom" parameterType="team.gtfm.server.bean.Room">
		insert into room (room_name, building_seq, memo)
		values (#{roomName}, #{buildingSeq}, #{memo})
	</insert>
	
	<delete id="deleteRoom">
		delete from room where seq = #{seq}
	</delete>
</mapper>