<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gtfm.server.db.routerMapper">

	<select id="selectRouterALl" resultType="team.gtfm.server.bean.Router">
		select * from router;
	</select>
	
	<select id="selectRouter" resultType="team.gtfm.server.bean.Router">
		select * from router where seq = #{seq}
	</select>
	
	<insert id="insertRouter" parameterType="team.gtfm.server.bean.Router">
		insert into router (ip, default_gateway, dns_server, subnet_mask, physical_range, building_seq, room_seq, memo)
		values (#{ip}, #{defaultGateway}, #{dnsServer}, #{subnetMask}, #{physicalRange}, #{buildingSeq}, #{roomSeq}, #{memo})
	</insert>
	
	<delete id="deleteRouter">
		delete from router
		where seq = #{seq}
	</delete>
</mapper>